.footer-top-bar {
    border-top: 1px solid #e4e4e4;
    border-bottom: 1px solid #e4e4e4;
    height: 41px;
}
.footer-top-nav {
    padding: 10px 30px;
}

.footer-top-bar span {
    color: #0000EE;
}

.footer-bottom-bar {
    padding: 0 20px;
}
.footer-bottom-nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
.footer-bottom-nav > li {
    float: left;
}
.footer-bottom-nav > li a {
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration: none;
}

.footer-bottom-nav > li a:hover {
    text-decoration: underline;
}
