.logo {
    height: 233px;
    text-align: center;

}
.logo img {
    height: 92px;
    width: 272px;
    padding-top: 109px;
    padding-bottom: 0px;

}

.small-logo {
    margin-top: 20px;
    margin-right: 3px;

}

.small-logo img {
    height: 28px;
    width: 92px;
    padding: 4px 28px 0 30px;
    top: 4px;

}