.search-field {
    background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 44px;
    margin: 0 auto;
    width: 582px;
}

.search-input input{
    margin: 5px;
    padding: 0;
    width: 487px;
    height: 34px;
    box-shadow: none;
    border: none;
    outline: none;
}

.search-icon {
    padding-left: 5px;
    margin-top: 9px;
    width: 33px;
    border: none;
}

.search-icon img {
    width: 25px;
    height: 25px;
}

.mic-icon {
    border: none;
    padding-right: 30px;
    width: 24px;

}
.mic-icon img {
    border: none;
    margin: -1px;
}

.detail-search-field {
    background: #fff;
    border-radius: 24px;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    width: 570px;
    height: 40px;
    margin-top: 18px;
    margin-left: 2px;
    display: inline-flex;
}

.detail_search-input input{
    margin-left: 15px;
    margin-top: 3px;
    width: 476px;
    height: 30px;
    box-shadow: none;
    border: none;
    outline: none;
}
.detail-mic-icon {
    margin-left: 4px;
}
.detail-mic-icon img{
    width: 35px;
    height: 38px;
}

.detail-search-icon {
    color: #4285f4;
    margin-right: 2px;
    width: 33px;
}

.detail-search-icon img {
    color: #4285f4;
    margin-top: 8px;
    width: 25px;
    height: 25px;
}